.oooh-baby-regular {
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;
}

h3 {
  font-family: "Oooh Baby", sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 25px;
  margin: 10px;
}

.header {
  display: flex;
  width: 100vw;
  height: 70px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(71, 84, 46);

}

.header-text-content{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title{
  font-family: "Oooh Baby", sans-serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  color: whitesmoke;
}
.navigation {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  padding: 5%;

}

.navigation-menu {
  position: fixed;
  right: -100%;
  top: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  width: 50%;
  text-align: center;
  transition: 0.3s;
  background-color: rgba(78, 105, 82, 0.52);
}

.navigation-item {
  margin: 16px 0;
  list-style: none;
}

.navigation-link {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 1;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: white;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navigation-menu.active {
  right: 0;
}


.intro{
  display: flex;
  background-image: url(../img/bt-in-woods.jpeg);
  background-size: cover;
  color:white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  width: 100vw;
  height: 60vh;
}

.intro-main{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100vw;
}

.intro-title{
  margin-bottom: 20px;
  font-family: "Oooh Baby", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
}

.intro-footer{
  
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: flex-end;
  align-content: center;
}

.intro-detail {
  border-top: 2px solid white;
  width: calc(100vw / 3);
  padding: 10px;
}

.intro-detail:first-child {
  border-right: 2px solid white;
}

.intro-detail:last-child {
  border-left: 2px solid white;

}

.our-storry{
  padding: 10%;
  height: 60vh;

}

.gallery{
  height: 60vh;

}
.our-dogs{
  height: 60vh;
  padding: 10%;
}

.navigation-hub{
  height: 60vh;
}

.footer{
  height: 70px;
}
@media (min-width: 768px) {

}

@media (min-width: 1600px) {

}